<a href="https://colab.research.google.com/github/Carlosmagnobrusil/CarlosBrusil_projects/blob/main/Semana_2/missingvalues.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#**Cargar Datos**
## *Creado por: Carlos Brusil*



*   Fecha de Creación: 9 de enero de 2022 
*   Fechad de actualización: 10 de enero de 2022
*   Descripción: Practica de cmabio de nombre de columnas, llenado de valores y manejo de valores perdidos o faltantes

### Carga de datos

In [ ]:
from google.colab import drive
drive.mount('/content/drive') # uno my Drive al nuevo cuaderno

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [ ]:
import pandas as pd #importo la libreria panda 
bikes =  '/content/drive/MyDrive/Coding_Dojo/Semana 2/Pandas Data science/Data /RailsToTrails_National_Count_Data_week.xlsx' #Nombro a la base
bikes_df = pd.read_excel(bikes) #le doy un nombre a la trama de datos  ene ste caso el sugerido en la tarea 
bikes_df.head()

  Timeframe    Week of  ...  Unnamed: 8  Unnamed: 9
0    Week 1 2020-12-30  ...         NaN         NaN
1    Week 2 2020-01-06  ...         NaN         NaN
2    Week 3 2020-01-13  ...         NaN         NaN
3    Week 4 2020-01-20  ...         NaN         NaN
4    Week 5 2020-01-27  ...         NaN         NaN

[5 rows x 10 columns]

In [ ]:
bikes_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 52 entries, 0 to 51
Data columns (total 10 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   Timeframe                   52 non-null     object
 1   Week of                     52 non-null     datetime64[ns]
 2    2019 counts (31 counters)  52 non-null     int64
 3    2020 counts (31 counters)  52 non-null     int64
 4   2021 Counts                 0 non-null      float64
 5   Change 2019-2020            52 non-null     float64
 6   Unnamed: 6                  52 non-null     float64
 7   Unnamed: 7                  0 non-null      float64
 8   Unnamed: 8                  1 non-null      float64
 9   Unnamed: 9                  1 non-null      float64
dtypes: datetime64[ns](1), float64(6), int64(2), object(1)
memory usage: 4.2+ KB

### Cambiar nombre de columnas

In [ ]:
bikes_df = bikes_df.rename(columns = {'Unnamed: 6':'percent_change'}) #utilizo el metodo panda de rename y ledigo el valor que deseo cambiar al poner colums
bikes_df.head()

  Timeframe    Week of  ...  Unnamed: 8  Unnamed: 9
0    Week 1 2020-12-30  ...         NaN         NaN
1    Week 2 2020-01-06  ...         NaN         NaN
2    Week 3 2020-01-13  ...         NaN         NaN
3    Week 4 2020-01-20  ...         NaN         NaN
4    Week 5 2020-01-27  ...         NaN         NaN

[5 rows x 10 columns]

### Eliminar columnas

In [ ]:
bikes_df.drop(bikes_df.columns[bikes_df.columns.str.contains('unnamed',case = False)],axis = 1, inplace = True) #en esta linea le pido al programa que se eliminen las columnas
#que contengan en su nombre unnamed 
bikes_df.head()

  Timeframe    Week of  ...  Change 2019-2020  percent_change
0    Week 1 2020-12-30  ...          0.094627        1.094627
1    Week 2 2020-01-06  ...          0.179743      117.974253
2    Week 3 2020-01-13  ...          0.216112      121.611169
3    Week 4 2020-01-20  ...          0.105645      110.564504
4    Week 5 2020-01-27  ...          0.249166      124.916602

[5 rows x 7 columns]

### Llenar columnas con datos vacios

In [ ]:
bikes_df.head()

  Timeframe    Week of  ...  Change 2019-2020  percent_change
0    Week 1 2020-12-30  ...          0.094627        1.094627
1    Week 2 2020-01-06  ...          0.179743      117.974253
2    Week 3 2020-01-13  ...          0.216112      121.611169
3    Week 4 2020-01-20  ...          0.105645      110.564504
4    Week 5 2020-01-27  ...          0.249166      124.916602

[5 rows x 7 columns]

In [ ]:
bikes_df.loc[0:51 , "2021 Counts"].fillna(0, inplace = True) #lleno el valor de la columna com puntos ya que no hay ningun otro valor 
bikes_df["2021 Counts"].head()

0    0.0
1    0.0
2    0.0
3    0.0
4    0.0
Name: 2021 Counts, dtype: float64

### Bonus 
* Se encuentra que dentro del nombre de las columnas existe u8na identacion inecesaria

In [ ]:
bikes_df = bikes_df.rename(columns ={' 2019 counts (31 counters)' : 'counts_2019'})
bikes_df = bikes_df.rename(columns ={' 2020 counts (31 counters)' : 'counts_2020'})
bikes_df.head()

  Timeframe    Week of  counts_2019  ...  Unnamed: 7  Unnamed: 8  Unnamed: 9
0    Week 1 2020-12-30       167679  ...         NaN         NaN         NaN
1    Week 2 2020-01-06        82340  ...         NaN         NaN         NaN
2    Week 3 2020-01-13        62315  ...         NaN         NaN         NaN
3    Week 4 2020-01-20        75801  ...         NaN         NaN         NaN
4    Week 5 2020-01-27        75841  ...         NaN         NaN         NaN

[5 rows x 10 columns]