<a href="https://colab.research.google.com/github/Carlosmagnobrusil/CarlosBrusil_projects/blob/main/Semana_12/SQL_(1).ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#**SQL INTRODUCTION**
## *Creado por: Carlos Brusil*



*   Fecha de Creación: 3 de febrero de 2022 
*   Fechad de actualización: 4 de marzo de 2022
*   Descripción: El presente script se reliza los ejercicios fundamentales de SQL

In [57]:
import pandas as pd
from sqlalchemy import create_engine

In [58]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [59]:
school = pd.read_csv('/content/drive/MyDrive/Coding_Dojo/Semana 12/Data/School Details.csv')
school.head(2)

,DistrictName,EstablishmentCode,EstablishmentName,BRCName,CRCName,SchoolLevel,ManagementName,LocalityHabitation,SubdivisionName,ConstituencyName,...,EstablishedDate,DistrictHQDistance (in Km),CRCDistance (in Km),BACDistance (in Km),IsRecognized,RecognizedBy,ContactPersonName,LowestClass,HighestClass,BoardName
0,East,S0169,BUDANG GOVERNMENT PRIMARY SCHOOL (E),Duga Brc,Central Pendam Government Senior Secondary School,PS,State Govt.,BUDANG,Gangtok,Rhenock,...,28126,58.0,8.0,16.0,Recognized,HRDD,NaN,Class 1,Class 5,NaN
1,East,S0099,CENTRAL PENDAM GOVERNMENT SENIOR SECONDARY SCHOOL,Duga Brc,Central Pendam Government Senior Secondary School,SSS,State Govt.,CENTRAL PENDAM,Gangtok,West Pandam,...,15342,50.0,0.0,6.0,Recognized,HRDD,NaN,Class 1,Class 12,C.B.S.E.

In [60]:
facility = pd.read_csv('/content/drive/MyDrive/Coding_Dojo/Semana 12/Data/School Facility Details.csv')
facility.head(2)

,EstablishmentCode,EstablishmentName,IsLibraryAvailable,AvailableBooksCount,IsFireExtgAvailable,ExtinguisherCount,HOIRoomAvailable,IsStaffRoomAvailable,NoofStaffRoom,IsLockerForStaffAvailable,IsSportsStoreRoomAvailable
0,S1034,(I.E.C) INDIAN EVANGALISTIC CRUSADE MISSION PR...,Not Available,0,Available,1,Available,Not Available,0,Not Available,Not Available
1,S0516,10TH MILE GOVERNMENT PRIMARY SCHOOL,Not Available,0,Not Available,0,Available,Available,1,Not Available,Not Available

In [61]:
school.columns = school.columns.str.replace(' ', '')

In [62]:
school.columns = school.columns.str.replace('(', '')

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will *not* be treated as literal strings when regex=True.
  """Entry point for launching an IPython kernel.

In [63]:
school.columns = school.columns.str.replace(')', '')

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will *not* be treated as literal strings when regex=True.
  """Entry point for launching an IPython kernel.

In [64]:
school.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1249 entries, 0 to 1248
Data columns (total 30 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   DistrictName            1249 non-null   object
 1   EstablishmentCode       1249 non-null   object
 2   EstablishmentName       1249 non-null   object
 3   BRCName                 1249 non-null   object
 4   CRCName                 1249 non-null   object
 5   SchoolLevel             1246 non-null   object
 6   ManagementName          1246 non-null   object
 7   LocalityHabitation      1221 non-null   object
 8   SubdivisionName         1241 non-null   object
 9   ConstituencyName        1249 non-null   object
 10  RevenueBlockName        1249 non-null   object
 11  CivicBodyName           1249 non-null   object
 12  WardName                1249 non-null   object
 13  PostOfficeName          1249 non-null   object
 14  PhoneNo                 794 non-null    object
 15  FaxNo                   20 non-null     object
 16  EmailID                 182 non-null    object
 17  Website                 24 non-null     object
 18  LocatedInRuralOrUrban   1249 non-null   object
 19  DiseCode                439 non-null    object
 20  EstablishedDate         1230 non-null   object
 21  DistrictHQDistanceinKm  1246 non-null   float64
 22  CRCDistanceinKm         1246 non-null   float64
 23  BACDistanceinKm         1246 non-null   float64
 24  IsRecognized            1246 non-null   object
 25  RecognizedBy            1004 non-null   object
 26  ContactPersonName       0 non-null      float64
 27  LowestClass             1246 non-null   object
 28  HighestClass            1246 non-null   object
 29  BoardName               784 non-null    object
dtypes: float64(4), object(26)
memory usage: 292.9+ KB

In [65]:
engine = create_engine('sqlite:///schools.db', echo=True) # creo mi ingenieria para sql
conn = engine.connect() #conecto mi ingenieria

In [66]:
sqlite_table = "school_deti"
school.to_sql(sqlite_table, conn, if_exists='fail')

sqlite_table2 = "school_facility_details"
facility.to_sql(sqlite_table2, conn, if_exists='fail')

2022-04-03 17:06:21,350 INFO sqlalchemy.engine.Engine PRAGMA main.table_info("school_deti")
2022-04-03 17:06:21,351 INFO sqlalchemy.engine.Engine [raw sql] ()
2022-04-03 17:06:21,353 INFO sqlalchemy.engine.Engine PRAGMA temp.table_info("school_deti")
2022-04-03 17:06:21,356 INFO sqlalchemy.engine.Engine [raw sql] ()
2022-04-03 17:06:21,367 INFO sqlalchemy.engine.Engine
CREATE TABLE school_deti (
	"index" BIGINT,
	"DistrictName" TEXT,
	"EstablishmentCode" TEXT,
	"EstablishmentName" TEXT,
	"BRCName" TEXT,
	"CRCName" TEXT,
	"SchoolLevel" TEXT,
	"ManagementName" TEXT,
	"LocalityHabitation" TEXT,
	"SubdivisionName" TEXT,
	"ConstituencyName" TEXT,
	"RevenueBlockName" TEXT,
	"CivicBodyName" TEXT,
	"WardName" TEXT,
	"PostOfficeName" TEXT,
	"PhoneNo" TEXT,
	"FaxNo" TEXT,
	"EmailID" TEXT,
	"Website" TEXT,
	"LocatedInRuralOrUrban" TEXT,
	"DiseCode" TEXT,
	"EstablishedDate" TEXT,
	"DistrictHQDistanceinKm" FLOAT,
	"CRCDistanceinKm" FLOAT,
	"BACDistanceinKm" FLOAT,
	"IsRecognized" TEXT,
	"RecognizedBy" TEXT,
	"ContactPersonName" FLOAT,
	"LowestClass" TEXT,
	"HighestClass" TEXT,
	"BoardName" TEXT
)


2022-04-03 17:06:21,368 INFO sqlalchemy.engine.Engine [no key 0.00146s] ()
2022-04-03 17:06:21,379 INFO sqlalchemy.engine.Engine COMMIT
2022-04-03 17:06:21,380 INFO sqlalchemy.engine.Engine CREATE INDEX ix_school_deti_index ON school_deti ("index")
2022-04-03 17:06:21,382 INFO sqlalchemy.engine.Engine [no key 0.00198s] ()
2022-04-03 17:06:21,393 INFO sqlalchemy.engine.Engine COMMIT
2022-04-03 17:06:21,402 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2022-04-03 17:06:21,472 INFO sqlalchemy.engine.Engine INSERT INTO school_deti ("index", "DistrictName", "EstablishmentCode", "EstablishmentName", "BRCName", "CRCName", "SchoolLevel", "ManagementName", "LocalityHabitation", "SubdivisionName", "ConstituencyName", "RevenueBlockName", "CivicBodyName", "WardName", "PostOfficeName", "PhoneNo", "FaxNo", "EmailID", "Website", "LocatedInRuralOrUrban", "DiseCode", "EstablishedDate", "DistrictHQDistanceinKm", "CRCDistanceinKm", "BACDistanceinKm", "IsRecognized", "RecognizedBy", "ContactPersonName", "LowestClass", "HighestClass", "BoardName") VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?)
2022-04-03 17:06:21,473 INFO sqlalchemy.engine.Engine [generated in 0.06174s] ((0, 'East', 'S0169', 'BUDANG GOVERNMENT PRIMARY SCHOOL (E)', 'Duga Brc', 'Central Pendam Government Senior Secondary School', 'PS', 'State Govt.', 'BUDANG', 'Gangtok', 'Rhenock', 'Central Pendam', 'Central Pendam', 'Sajong', 'Upper Pendam', None, None, None, None, 'Urban Area', None, '28126', 58.0, 8.0, 16.0, 'Recognized', 'HRDD', None, 'Class 1', 'Class 5', None), (1, 'East', 'S0099', 'CENTRAL PENDAM GOVERNMENT SENIOR SECONDARY SCHOOL', 'Duga Brc', 'Central Pendam Government Senior Secondary School', 'SSS', 'State Govt.', 'CENTRAL PENDAM', 'Gangtok', 'West Pandam', 'Central Pendam', 'Central Pendam', 'Karmithang', 'Upper Pendam', '3592263812', None, None, None, 'Urban Area', '800401', '15342', 50.0, 0.0, 6.0, 'Recognized', 'HRDD', None, 'Class 1', 'Class 12', 'C.B.S.E.'), (2, 'East', 'S0848', 'CENTRAL POINT ACADEMY, CENTRAL PENDAM', 'Duga Brc', 'Central Pendam Government Senior Secondary School', 'SS', 'Private (Unaided)', 'UPPER BHURUNG CENTRAL PENDAM', 'Gangtok', 'West Pandam', 'Central Pendam', 'Central Pendam', 'Burung', 'Upper Pendam', '03592263809/263960', None, 'ksu_5162@yahoo.com', 'www.facebook.com/khanalkeshav (Group-CPA)', 'Urban Area', None, '37257.38680555556', 49.0, 1.5, 6.0, 'Recognized', 'HRDD, GOVT. OF SIKKIM', None, 'Class 1', 'Class 10', 'C.B.S.E.'), (3, 'East', 'S0190', 'CHEURIBOTEY GOVERNMENT JUNIOR HIGH SCHOOL (E)', 'Duga Brc', 'Central Pendam Government Senior Secondary School', 'JHS', 'State Govt.', 'CHEURIBOTEY', 'Gangtok', 'West Pandam', 'Central Pendam', 'Central Pendam', 'Cheuribotey', 'Duga', None, None, None, None, 'Urban Area', None, '28856', 60.0, 6.0, 6.0, 'Recognized', 'State Govt.', None, 'Class 1', 'Class 8', None), (4, 'East', 'S0111', 'DUGA GOVERNMENT SECONDARY SCHOOL', 'Duga Brc', 'Central Pendam Government Senior Secondary School', 'SS', 'State Govt.', 'DUGA', 'Gangtok', 'West Pandam', 'Central Pendam', 'Central Pendam', 'Duga', 'Duga', '9832082915', None, 'dugaschool@gmail.com', None, 'Urban Area', None, '1828', 52.0, 0.0, 0.5, 'Recognized', 'c.b.s.e.', None, 'Class 1', 'Class 10', 'C.B.S.E.'), (5, 'East', 'S0856', 'EASWARAMMA SAI GURUKOOL ACCADEMY', 'Duga Brc', 'Central Pendam Government Senior Secondary School', 'PS', 'Private (Unaided)', 'RALUNG', 'Gangtok', 'West Pandam', 'Central Pendam', 'West Pendam', 'Ralang', 'West Pendam', '9733056624', None, None, None, 'Urban Area', None, '40179.66805555556', 0.0, 0.2, 0.2, 'Recognized', None, None, 'Class 1', 'Class 5', None), (6, 'East', 'S0870', 'ETERNAL ENGLISH SCHOOL, WEST PENDAM', 'Duga Brc', 'Central Pendam Government Senior Secondary School', 'PS', 'Private (Unaided)', 'SAKHU WEST PENDAM', 'Gangtok', 'West Pandam', 'West Pendam', 'West Pendam', 'Sakhu', 'Sakhu Busty', '9734190544', None, None, None, 'Urban Area', None, '37300.66805555556', 42.0, 3.0, 4.0, 'Recognized', 'HRDD OF SIKKIM', None, 'Class 1', 'Class 5', None), (7, 'East', 'S0157', 'KHANI GOAN GOVERNMENT PRIMARY SCHOOL', 'Duga Brc', 'Central Pendam Government Senior Secondary School', 'PS', 'State Govt.', 'WEST PENDAM', 'Gangtok', 'West Pandam', 'West Pendam', 'West Pendam', 'Khanigaon', 'West Pendam', '9832470263', None, None, None, 'Urban Area', '801801', '29587', 45.0, 5.0, 4.0, 'Recognized', 'State Govt.', None, 'Class 1', 'Class 5', 'C.B.S.E.')  ... displaying 10 of 1249 total bound parameter sets ...  (1247, 'West', 'S0340', 'TINGTING GAON GOVERNMENT PRIMARY SCHOOL', 'Yuksom Brc', 'Yuksom Government Secondary School', 'PS', 'State Govt.', 'TING TING GAON', 'Gyalshing', 'Yoksam-Tashiding', 'Yoksam', 'Yuksom', 'Tingting', 'Yuksom', '9593377402', None, None, None, 'Urban Area', '100282', '29587', 36.0, 3.0, 6.0, 'Recognized', 'STATE GOVERNMENT', None, 'Class 1', 'Class 5', None), (1248, 'West', 'S0542', 'TSONG GOVERNMENT PRIMARY SCHOOL', 'Yuksom Brc', 'Yuksom Government Secondary School', 'PS', 'State Govt.', 'TSONG', 'Gyalshing', 'Yoksam-Tashiding', 'Yoksam', 'Yuksom', 'Yoksam', 'Yuksom', None, None, None, None, 'Urban Area', None, '28176', 40.0, 7.0, 8.0, 'Recognized', 'State Government', None, 'Class 1', 'Class 5', 'C.B.S.E.'))
2022-04-03 17:06:21,496 INFO sqlalchemy.engine.Engine COMMIT
2022-04-03 17:06:21,513 INFO sqlalchemy.engine.Engine PRAGMA main.table_info("school_facility_details")
2022-04-03 17:06:21,515 INFO sqlalchemy.engine.Engine [raw sql] ()
2022-04-03 17:06:21,520 INFO sqlalchemy.engine.Engine PRAGMA temp.table_info("school_facility_details")
2022-04-03 17:06:21,521 INFO sqlalchemy.engine.Engine [raw sql] ()
2022-04-03 17:06:21,526 INFO sqlalchemy.engine.Engine
CREATE TABLE school_facility_details (
	"index" BIGINT,
	"EstablishmentCode" TEXT,
	"EstablishmentName" TEXT,
	"IsLibraryAvailable" TEXT,
	"AvailableBooksCount" BIGINT,
	"IsFireExtgAvailable" TEXT,
	"ExtinguisherCount" BIGINT,
	"HOIRoomAvailable" TEXT,
	"IsStaffRoomAvailable" TEXT,
	"NoofStaffRoom" BIGINT,
	"IsLockerForStaffAvailable" TEXT,
	"IsSportsStoreRoomAvailable" TEXT
)


2022-04-03 17:06:21,532 INFO sqlalchemy.engine.Engine [no key 0.00557s] ()
2022-04-03 17:06:21,542 INFO sqlalchemy.engine.Engine COMMIT
2022-04-03 17:06:21,543 INFO sqlalchemy.engine.Engine CREATE INDEX ix_school_facility_details_index ON school_facility_details ("index")
2022-04-03 17:06:21,545 INFO sqlalchemy.engine.Engine [no key 0.00153s] ()
2022-04-03 17:06:21,555 INFO sqlalchemy.engine.Engine COMMIT
2022-04-03 17:06:21,558 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2022-04-03 17:06:21,591 INFO sqlalchemy.engine.Engine INSERT INTO school_facility_details ("index", "EstablishmentCode", "EstablishmentName", "IsLibraryAvailable", "AvailableBooksCount", "IsFireExtgAvailable", "ExtinguisherCount", "HOIRoomAvailable", "IsStaffRoomAvailable", "NoofStaffRoom", "IsLockerForStaffAvailable", "IsSportsStoreRoomAvailable") VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?)
2022-04-03 17:06:21,593 INFO sqlalchemy.engine.Engine [generated in 0.02770s] ((0, 'S1034', '(I.E.C) INDIAN EVANGALISTIC CRUSADE MISSION PRIMARY SCHOOL, RIMBI', 'Not Available', 0, 'Available', 1, 'Available', 'Not Available', 0, 'Not Available', 'Not Available'), (1, 'S0516', '10TH MILE GOVERNMENT PRIMARY SCHOOL', 'Not Available', 0, 'Not Available', 0, 'Available', 'Available', 1, 'Not Available', 'Not Available'), (2, 'S0237', '4TH MILE GOVERNMENT JUNIOR HIGH SCHOOL', 'Not Available', 0, 'Available', 2, 'Not Available', 'Not Available', 0, 'Not Available', 'Not Available'), (3, 'S0692', 'AAPGAZI GOVERNMENT PRIMARY SCHOOL', 'Not Available', 0, 'Not Available', 0, 'Not Available', 'Not Available', 0, 'Not Available', 'Not Available'), (4, 'S0374', 'AARUBOTEY GOVERNMENT PRIMARY SCHOOL', 'Not Available', 0, 'Available', 2, 'Not Available', 'Not Available', 0, 'Not Available', 'Not Available'), (5, 'S0218', 'ADAMPOOL GOVERNMENT JUNIOR HIGH SCHOOL', 'Available', 217, 'Available', 5, 'Available', 'Available', 1, 'Available', 'Not Available'), (6, 'S1064', 'ADONAI HOMES , NAYA BAZAR', 'Available', 0, 'Available', 0, 'Not Available', 'Available', 2, 'Not Available', 'Available'), (7, 'C1348', 'ADVANCED TECHNICAL TRAINING CENTRE', 'Available', 0, 'Available', 0, 'Available', 'Available', 0, 'Available', 'Available')  ... displaying 10 of 1256 total bound parameter sets ...  (1254, 'S0185', 'ZITLANG GOVERNMENT JUNIOR HIGH SCHOOL', 'Available', 0, 'Available', 5, 'Not Available', 'Available', 1, 'Not Available', 'Not Available'), (1255, 'S0267', 'ZOOM GOVERNMENT SECONDARY SCHOOL', 'Not Available', 0, 'Available', 6, 'Available', 'Available', 1, 'Available', 'Not Available'))
2022-04-03 17:06:21,606 INFO sqlalchemy.engine.Engine COMMIT

In [67]:
sql = """
select EstablishmentName, SchoolLevel, Website
from school_deti
"""

pd.read_sql_query(sql, engine)

2022-04-03 17:06:21,628 INFO sqlalchemy.engine.Engine
select EstablishmentName, SchoolLevel, Website
from school_deti

2022-04-03 17:06:21,629 INFO sqlalchemy.engine.Engine [raw sql] ()

,EstablishmentName,SchoolLevel,Website
0,BUDANG GOVERNMENT PRIMARY SCHOOL (E),PS,None
1,CENTRAL PENDAM GOVERNMENT SENIOR SECONDARY SCHOOL,SSS,None
2,"CENTRAL POINT ACADEMY, CENTRAL PENDAM",SS,www.facebook.com/khanalkeshav (Group-CPA)
3,CHEURIBOTEY GOVERNMENT JUNIOR HIGH SCHOOL (E),JHS,None
4,DUGA GOVERNMENT SECONDARY SCHOOL,SS,None
...,...,...,...
1244,MANGSABONG GOVERNMENT PRIMARY SCHOOL,PS,None
1245,MANGTABONG GOVERNMENT PRIMARY SCHOOL(SSA),PS,None
1246,"NEW HORIZON ACADEMY, LASSO(TASHIDING)",PS,None
1247,TINGTING GAON GOVERNMENT PRIMARY SCHOOL,PS,None
1248,TSONG GOVERNMENT PRIMARY SCHOOL,PS,None

In [68]:
sql = """
select EstablishmentName
from school_deti
where DistrictHQDistanceinKm > 100

"""

pd.read_sql_query(sql, engine)

2022-04-03 17:06:21,657 INFO sqlalchemy.engine.Engine
select EstablishmentName
from school_deti
where DistrictHQDistanceinKm > 100


2022-04-03 17:06:21,660 INFO sqlalchemy.engine.Engine [raw sql] ()

                                EstablishmentName
0              DODACHEN GOVERNMENT PRIMARY SCHOOL
1               DEOLING GOVERNMENT PRIMARY SCHOOL
2                   PEMA TSEL ACADEMY(PHADAMCHEN)
3                ZULUCK GOVERNMENT PRIMARY SCHOOL
4               BHARENG GOVERNMENT PRIMARY SCHOOL
5                HIMALAYAN RISING ACADEMY, OKHREY
6             PIUREYTAR GOVERNMENT PRIMARY SCHOOL
7               RIBDI GOVERNMENT SECONDARY SCHOOL
8  MILLING KARMATAR GOVERNMENT JUNIOR HIGH SCHOOL
9       SORENG GOVERNMENT SENIOR SECONDARY SCHOOL

In [69]:
sql = """
select EstablishmentName,
SchoolLevel,
DistrictHQDistanceinKm
from school_deti
where SchoolLevel = 'JHS.'

"""

pd.read_sql_query(sql, engine)

2022-04-03 17:06:21,678 INFO sqlalchemy.engine.Engine
select EstablishmentName,
SchoolLevel,
DistrictHQDistanceinKm
from school_deti
where SchoolLevel = 'JHS.'


2022-04-03 17:06:21,680 INFO sqlalchemy.engine.Engine [raw sql] ()

Empty DataFrame
Columns: [EstablishmentName, SchoolLevel, DistrictHQDistanceinKm]
Index: []

In [70]:
sql = """
select EstablishmentName,
SchoolLevel,
DistrictHQDistanceinKm
from school_deti
where SchoolLevel = 'JHS'

"""

pd.read_sql_query(sql, engine)

2022-04-03 17:06:21,699 INFO sqlalchemy.engine.Engine
select EstablishmentName,
SchoolLevel,
DistrictHQDistanceinKm
from school_deti
where SchoolLevel = 'JHS'


2022-04-03 17:06:21,701 INFO sqlalchemy.engine.Engine [raw sql] ()

,EstablishmentName,SchoolLevel,DistrictHQDistanceinKm
0,CHEURIBOTEY GOVERNMENT JUNIOR HIGH SCHOOL (E),JHS,60.0
1,"PADMA KUMARI PUBLIC SCHOOL, DUGA",JHS,48.0
2,SAJONG GOVERNMENT JUNIOR HIGH SCHOOL,JHS,57.0
3,SINGLEYBONG GOVERNMENT JUNIOR HIGH SCHOOL,JHS,38.0
4,"SUNRISE ACADEMY, DUGA",JHS,47.0
...,...,...,...
335,TIMBRONG GOVERNMENT JUNIOR HIGH SCHOOL,JHS,32.0
336,"VIDYA SAGAR GYANPETH, TATHANG",JHS,25.0
337,"HIMALAYAN RADIANT ACADEMY, TASHIDING",JHS,35.0
338,"GOOD SHEPHERD NURSERY SCHOOL , YUKSAM",JHS,52.0
339,"LIFE VISION ACADEMY, YUKSAM",JHS,32.0

In [71]:
sql = """
select EstablishmentName,
SchoolLevel,
DistrictHQDistanceinKm
from school_deti
where EstablishmentName like '% JUNIOR HIGH %' 

"""

pd.read_sql_query(sql, engine)

2022-04-03 17:06:21,728 INFO sqlalchemy.engine.Engine
select EstablishmentName,
SchoolLevel,
DistrictHQDistanceinKm
from school_deti
where EstablishmentName like '% JUNIOR HIGH %'


2022-04-03 17:06:21,730 INFO sqlalchemy.engine.Engine [raw sql] ()

,EstablishmentName,SchoolLevel,DistrictHQDistanceinKm
0,CHEURIBOTEY GOVERNMENT JUNIOR HIGH SCHOOL (E),JHS,60.0
1,SAJONG GOVERNMENT JUNIOR HIGH SCHOOL,JHS,57.0
2,SINGLEYBONG GOVERNMENT JUNIOR HIGH SCHOOL,JHS,38.0
3,BORDANG GOVERNMENT JUNIOR HIGH SCHOOL,JHS,33.0
4,RANGPO BAZAR GOVERNMENT JUNIOR HIGH SCHOOL,JHS,47.0
...,...,...,...
179,TAMATAM GOVERNMENT JUNIOR HIGH SCHOOL,JHS,55.0
180,UPPER GERETHANG GOVERNMENT JUNIOR HIGH SCHOOL,JHS,60.0
181,DARAPTHANG GOVERNMENT JUNIOR HIGH SCHOOL,JHS,28.0
182,MIDDLE CHONGRANG GOVERNMENT JUNIOR HIGH SCHOOL,JHS,60.0
183,TIMBRONG GOVERNMENT JUNIOR HIGH SCHOOL,JHS,32.0

In [72]:
sql = """
select EstablishmentName,
SchoolLevel,
DistrictHQDistanceinKm
from school_deti
where EstablishmentName like 'C%' 
order by EstablishmentName
limit 10

"""

pd.read_sql_query(sql, engine)

2022-04-03 17:06:21,753 INFO sqlalchemy.engine.Engine
select EstablishmentName,
SchoolLevel,
DistrictHQDistanceinKm
from school_deti
where EstablishmentName like 'C%'
order by EstablishmentName
limit 10


2022-04-03 17:06:21,756 INFO sqlalchemy.engine.Engine [raw sql] ()

,EstablishmentName,SchoolLevel,DistrictHQDistanceinKm
0,C.M.RAI GOVERNMENT SECONDARY SCHOOL (OMCHU),SS,26.0
1,"CANAAN SCHOOL, RANIPOOL",JHS,0.0
2,"CANARY BIRD ACADEMY, KARTOK",PS,38.0
3,"CAROL ACADEMY, YANGSUM UPPER BERFOK",JHS,50.0
4,CENTRAL MARTAM GOVERNMENT JUNIOR SCHOOL,JHS,50.0
5,CENTRAL PATUK GOVERNMENT PRIMARY SCHOOL,PS,48.0
6,CENTRAL PENDAM GOVERNMENT SENIOR SECONDARY SCHOOL,SSS,50.0
7,"CENTRAL POINT ACADEMY, CENTRAL PENDAM",SS,49.0
8,"CENTRAL SCHOOL FOR TIBETAN , RAVANGLA",JHS,26.0
9,CHAKUNG GOVERNMENT SENIOR SECONDARY SCHOOL,SSS,55.0

In [73]:
sql = """
select EstablishmentName,
SchoolLevel,
DistrictHQDistanceinKm
from school_deti
where LocatedInRuralOrUrban = 'Urban Area' 
order by EstablishmentName desc


"""

pd.read_sql_query(sql, engine)

2022-04-03 17:06:21,776 INFO sqlalchemy.engine.Engine
select EstablishmentName,
SchoolLevel,
DistrictHQDistanceinKm
from school_deti
where LocatedInRuralOrUrban = 'Urban Area'
order by EstablishmentName desc



2022-04-03 17:06:21,780 INFO sqlalchemy.engine.Engine [raw sql] ()

,EstablishmentName,SchoolLevel,DistrictHQDistanceinKm
0,ZULUCK GOVERNMENT PRIMARY SCHOOL,PS,120.0
1,ZOOM GOVERNMENT SECONDARY SCHOOL,SS,50.0
2,ZITLANG GOVERNMENT JUNIOR HIGH SCHOOL,JHS,54.0
3,ZINGLA GOVERNMENT PRIMARY SCHOOL,PS,35.0
4,ZENITH PUBLIC SCHOOL,PS,6.5
...,...,...,...
1127,AARUBOTEY GOVERNMENT PRIMARY SCHOOL,PS,70.0
1128,AAPGAZI GOVERNMENT PRIMARY SCHOOL,PS,60.0
1129,4TH MILE GOVERNMENT JUNIOR HIGH SCHOOL,JHS,8.0
1130,10TH MILE GOVERNMENT PRIMARY SCHOOL,PS,25.0
1131,(I.E.C) INDIAN EVANGALISTIC CRUSADE MISSION PR...,PS,21.0

In [74]:
sql = """
select EstablishmentName as name
from school_deti
where LocatedInRuralOrUrban = 'Urban Area' 
order by EstablishmentName desc


"""

pd.read_sql_query(sql, engine)

2022-04-03 17:06:21,813 INFO sqlalchemy.engine.Engine
select EstablishmentName as name
from school_deti
where LocatedInRuralOrUrban = 'Urban Area'
order by EstablishmentName desc



2022-04-03 17:06:21,816 INFO sqlalchemy.engine.Engine [raw sql] ()

                                                   name
0                      ZULUCK GOVERNMENT PRIMARY SCHOOL
1                      ZOOM GOVERNMENT SECONDARY SCHOOL
2                 ZITLANG GOVERNMENT JUNIOR HIGH SCHOOL
3                      ZINGLA GOVERNMENT PRIMARY SCHOOL
4                                  ZENITH PUBLIC SCHOOL
...                                                 ...
1127                AARUBOTEY GOVERNMENT PRIMARY SCHOOL
1128                  AAPGAZI GOVERNMENT PRIMARY SCHOOL
1129             4TH MILE GOVERNMENT JUNIOR HIGH SCHOOL
1130                10TH MILE GOVERNMENT PRIMARY SCHOOL
1131  (I.E.C) INDIAN EVANGALISTIC CRUSADE MISSION PR...

[1132 rows x 1 columns]

In [89]:
sql = """
select SchoolLevel,
avg (DistrictHQDistanceinKm) as avg_bac_distancia
from school_deti
Group by SchoolLevel

"""

pd.read_sql_query(sql, engine)

2022-04-03 17:27:21,535 INFO sqlalchemy.engine.Engine
select SchoolLevel,
avg (DistrictHQDistanceinKm) as avg_bac_distancia
from school_deti
Group by SchoolLevel


2022-04-03 17:27:21,538 INFO sqlalchemy.engine.Engine [raw sql] ()

  SchoolLevel  avg_bac_distancia
0        None                NaN
1         JHS          29.861912
2         LPS          21.526316
3          PS          33.556850
4          SS          35.634228
5         SSS          29.010714

In [76]:
sql = """
select *,
avg(DistrictHQDistanceinKm) as avg_bac_distancia
from school_deti
where DistrictHQDistanceinKm < 10
Group by SchoolLevel


"""

pd.read_sql_query(sql, engine)

2022-04-03 17:06:21,876 INFO sqlalchemy.engine.Engine
select *,
avg(DistrictHQDistanceinKm) as avg_bac_distancia
from school_deti
where DistrictHQDistanceinKm < 10
Group by SchoolLevel



2022-04-03 17:06:21,878 INFO sqlalchemy.engine.Engine [raw sql] ()

,index,DistrictName,EstablishmentCode,EstablishmentName,BRCName,CRCName,SchoolLevel,ManagementName,LocalityHabitation,SubdivisionName,...,DistrictHQDistanceinKm,CRCDistanceinKm,BACDistanceinKm,IsRecognized,RecognizedBy,ContactPersonName,LowestClass,HighestClass,BoardName,avg_bac_distancia
0,1171,West,S0338,MALBASAY GOVERNMENT JUNIOR HIGH SCHOOL,Soreng Brc,Soreng Government Senior Secondary School,JHS,State Govt.,MALBASEY,Soreng,...,0.0,0.0,0.0,Recognized,State Government of Sikkim,None,Class 1,Class 8,C.B.S.E.,2.381875
1,991,West,S1232,"DREAMLAND ACADEMY, UTTAREY",Dentam Brc,Uttarey Government Secondary School,LPS,Private (Unaided),UTTAREY,Gyalshing,...,0.0,0.0,0.0,Not Recognized,None,None,Class 1,Class 3,None,1.473684
2,1246,West,S1045,"NEW HORIZON ACADEMY, LASSO(TASHIDING)",Yuksom Brc,Yuksom Government Secondary School,PS,Private (Unaided),"LASSO, TASHIDING",Gyalshing,...,0.0,0.0,0.0,Recognized,GOVT. OF SIKKIM,None,Class 1,Class 5,None,2.484426
3,1162,West,S1106,"HIMALAYAN ACADEMY , SORENG",Soreng Brc,Soreng Government Senior Secondary School,SS,Private (Unaided),SORENG BUSTY,Soreng,...,0.0,0.5,0.5,Recognized,"HRDD, GANGTOK, GOVT. OF SIKKIM",None,Class 1,Class 10,None,3.785714
4,1156,West,S1075,"DON BOSCO SCHOOL, MALBASEY",Soreng Brc,Soreng Government Senior Secondary School,SSS,Private (Unaided),MALBASEY,Soreng,...,0.0,0.0,4.0,Recognized,SIKKIM GOVERNMENT,None,Class 1,Class 12,I.C.S.E.,2.734783

In [86]:
sql = """
select * 
from school_facility_details

"""

pd.read_sql_query(sql, engine)

2022-04-03 17:20:55,679 INFO sqlalchemy.engine.Engine
select *
from school_facility_details


2022-04-03 17:20:55,681 INFO sqlalchemy.engine.Engine [raw sql] ()

,index,EstablishmentCode,EstablishmentName,IsLibraryAvailable,AvailableBooksCount,IsFireExtgAvailable,ExtinguisherCount,HOIRoomAvailable,IsStaffRoomAvailable,NoofStaffRoom,IsLockerForStaffAvailable,IsSportsStoreRoomAvailable
0,0,S1034,(I.E.C) INDIAN EVANGALISTIC CRUSADE MISSION PR...,Not Available,0,Available,1,Available,Not Available,0,Not Available,Not Available
1,1,S0516,10TH MILE GOVERNMENT PRIMARY SCHOOL,Not Available,0,Not Available,0,Available,Available,1,Not Available,Not Available
2,2,S0237,4TH MILE GOVERNMENT JUNIOR HIGH SCHOOL,Not Available,0,Available,2,Not Available,Not Available,0,Not Available,Not Available
3,3,S0692,AAPGAZI GOVERNMENT PRIMARY SCHOOL,Not Available,0,Not Available,0,Not Available,Not Available,0,Not Available,Not Available
4,4,S0374,AARUBOTEY GOVERNMENT PRIMARY SCHOOL,Not Available,0,Available,2,Not Available,Not Available,0,Not Available,Not Available
...,...,...,...,...,...,...,...,...,...,...,...,...
1251,1251,S0723,ZEEL GOVERNMENT JUNIOR HIGH SCHOOL,Not Available,0,Available,4,Available,Available,1,Not Available,Not Available
1252,1252,S0990,ZENITH PUBLIC SCHOOL,Not Available,0,Not Available,0,Not Available,Not Available,0,Not Available,Not Available
1253,1253,S0138,ZINGLA GOVERNMENT PRIMARY SCHOOL,Not Available,0,Available,2,Not Available,Not Available,0,Not Available,Not Available
1254,1254,S0185,ZITLANG GOVERNMENT JUNIOR HIGH SCHOOL,Available,0,Available,5,Not Available,Available,1,Not Available,Not Available
1255,1255,S0267,ZOOM GOVERNMENT SECONDARY SCHOOL,Not Available,0,Available,6,Available,Available,1,Available,Not Available

In [92]:
sql = """
select *
from school_deti
inner join  school_facility_details on school_deti.EstablishmentName = school_facility_details.EstablishmentName
limit 2
"""

pd.read_sql_query(sql, engine)

2022-04-03 17:36:52,562 INFO sqlalchemy.engine.Engine
select *
from school_deti
inner join  school_facility_details on school_deti.EstablishmentName = school_facility_details.EstablishmentName
limit 2

2022-04-03 17:36:52,564 INFO sqlalchemy.engine.Engine [raw sql] ()

,index,DistrictName,EstablishmentCode,EstablishmentName,BRCName,CRCName,SchoolLevel,ManagementName,LocalityHabitation,SubdivisionName,...,EstablishmentName,IsLibraryAvailable,AvailableBooksCount,IsFireExtgAvailable,ExtinguisherCount,HOIRoomAvailable,IsStaffRoomAvailable,NoofStaffRoom,IsLockerForStaffAvailable,IsSportsStoreRoomAvailable
0,0,East,S0169,BUDANG GOVERNMENT PRIMARY SCHOOL (E),Duga Brc,Central Pendam Government Senior Secondary School,PS,State Govt.,BUDANG,Gangtok,...,BUDANG GOVERNMENT PRIMARY SCHOOL (E),Available,100,Available,2,Available,Available,1,Not Available,Not Available
1,1,East,S0099,CENTRAL PENDAM GOVERNMENT SENIOR SECONDARY SCHOOL,Duga Brc,Central Pendam Government Senior Secondary School,SSS,State Govt.,CENTRAL PENDAM,Gangtok,...,CENTRAL PENDAM GOVERNMENT SENIOR SECONDARY SCHOOL,Available,0,Available,5,Available,Available,2,Not Available,Available

In [94]:
sql = """
select *
from school_deti
inner join  school_facility_details on school_deti.EstablishmentName = school_facility_details.EstablishmentName
where school_deti.SchoolLevel = 'PS' and school_facility_details.IsLibraryAvailable = 'Not Available'
"""

pd.read_sql_query(sql, engine)

2022-04-03 17:40:12,136 INFO sqlalchemy.engine.Engine
select *
from school_deti
inner join  school_facility_details on school_deti.EstablishmentName = school_facility_details.EstablishmentName
where school_deti.SchoolLevel = 'PS' and school_facility_details.IsLibraryAvailable = 'Not Available'

2022-04-03 17:40:12,139 INFO sqlalchemy.engine.Engine [raw sql] ()

,index,DistrictName,EstablishmentCode,EstablishmentName,BRCName,CRCName,SchoolLevel,ManagementName,LocalityHabitation,SubdivisionName,...,EstablishmentName,IsLibraryAvailable,AvailableBooksCount,IsFireExtgAvailable,ExtinguisherCount,HOIRoomAvailable,IsStaffRoomAvailable,NoofStaffRoom,IsLockerForStaffAvailable,IsSportsStoreRoomAvailable
0,5,East,S0856,EASWARAMMA SAI GURUKOOL ACCADEMY,Duga Brc,Central Pendam Government Senior Secondary School,PS,Private (Unaided),RALUNG,Gangtok,...,EASWARAMMA SAI GURUKOOL ACCADEMY,Not Available,0,Available,2,Available,Not Available,0,Not Available,Not Available
1,8,East,S0876,NEW GARDEN BOARDING SCHOOL (SAJONG),Duga Brc,Central Pendam Government Senior Secondary School,PS,Private (Unaided),CENTRAL PENDAM,Gangtok,...,NEW GARDEN BOARDING SCHOOL (SAJONG),Not Available,0,Not Available,0,Not Available,Not Available,0,Not Available,Available
2,15,East,S1230,"SARASWATI SHISHU VIDHYALAYA, BUDANG",Duga Brc,Central Pendam Government Senior Secondary School,PS,Private (Unaided),CENTRAL PENDAM,Gangtok,...,"SARASWATI SHISHU VIDHYALAYA, BUDANG",Not Available,0,Not Available,0,Not Available,Available,1,Not Available,Not Available
3,16,East,S0768,SAWNEY GOVERNMENT PRIMARY SCHOOL,Duga Brc,Central Pendam Government Senior Secondary School,PS,State Govt.,SAWNEY,Gangtok,...,SAWNEY GOVERNMENT PRIMARY SCHOOL,Not Available,0,Available,1,Available,Available,1,Not Available,Not Available
4,20,East,S0131,UPPER PACHAK GOVERNMENT PRIMARY SCHOOL,Duga Brc,Central Pendam Government Senior Secondary School,PS,State Govt.,UPPER PACHAK,Gangtok,...,UPPER PACHAK GOVERNMENT PRIMARY SCHOOL,Not Available,0,Available,1,Not Available,Available,1,Not Available,Not Available
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
420,1237,West,S1043,TASHIDING ENGLISH SCHOOL (P.S),Yuksom Brc,Tashiding Government Senior Secondary School,PS,Private (Unaided),TASHIDING,Gyalshing,...,TASHIDING ENGLISH SCHOOL (P.S),Not Available,0,Not Available,0,Not Available,Not Available,0,Not Available,Not Available
421,1244,West,S0336,MANGSABONG GOVERNMENT PRIMARY SCHOOL,Yuksom Brc,Yuksom Government Secondary School,PS,State Govt.,MANGSABONG BUSTY,Gyalshing,...,MANGSABONG GOVERNMENT PRIMARY SCHOOL,Not Available,0,Available,1,Not Available,Not Available,0,Not Available,Not Available
422,1245,West,S0591,MANGTABONG GOVERNMENT PRIMARY SCHOOL(SSA),Yuksom Brc,Yuksom Government Secondary School,PS,State Govt.,MANGTABONG(YUKSAM),Gyalshing,...,MANGTABONG GOVERNMENT PRIMARY SCHOOL(SSA),Not Available,0,Available,2,Not Available,Not Available,0,Not Available,Available
423,1246,West,S1045,"NEW HORIZON ACADEMY, LASSO(TASHIDING)",Yuksom Brc,Yuksom Government Secondary School,PS,Private (Unaided),"LASSO, TASHIDING",Gyalshing,...,"NEW HORIZON ACADEMY, LASSO(TASHIDING)",Not Available,0,Available,0,Not Available,Not Available,0,Not Available,Not Available
424,1248,West,S0542,TSONG GOVERNMENT PRIMARY SCHOOL,Yuksom Brc,Yuksom Government Secondary School,PS,State Govt.,TSONG,Gyalshing,...,TSONG GOVERNMENT PRIMARY SCHOOL,Not Available,0,Available,2,Available,Not Available,0,Not Available,Available

In [ ]:
sql = """
select *
from school_deti
inner join  school_facility_details on school_deti.EstablishmentName = school_facility_details.EstablishmentName
where school_deti.SchoolLevel = 'PS' and school_facility_details.IsLibraryAvailable = 'Not Available'
"""

pd.read_sql_query(sql, engine)

In [95]:
sql = """
select *
from school_deti
inner join  school_facility_details on school_deti.EstablishmentName = school_facility_details.EstablishmentName
where school_deti.SchoolLevel = 'PS' and school_facility_details.IsLibraryAvailable = 'Not Available'
Order by school_deti.EstablishmentName
"""

pd.read_sql_query(sql, engine)

2022-04-03 17:40:55,098 INFO sqlalchemy.engine.Engine
select *
from school_deti
inner join  school_facility_details on school_deti.EstablishmentName = school_facility_details.EstablishmentName
where school_deti.SchoolLevel = 'PS' and school_facility_details.IsLibraryAvailable = 'Not Available'
Order by school_deti.EstablishmentName

2022-04-03 17:40:55,101 INFO sqlalchemy.engine.Engine [raw sql] ()

,index,DistrictName,EstablishmentCode,EstablishmentName,BRCName,CRCName,SchoolLevel,ManagementName,LocalityHabitation,SubdivisionName,...,EstablishmentName,IsLibraryAvailable,AvailableBooksCount,IsFireExtgAvailable,ExtinguisherCount,HOIRoomAvailable,IsStaffRoomAvailable,NoofStaffRoom,IsLockerForStaffAvailable,IsSportsStoreRoomAvailable
0,1219,West,S1034,(I.E.C) INDIAN EVANGALISTIC CRUSADE MISSION PR...,Yuksom Brc,Melli Government Secondary School,PS,Private (Unaided),RIMBI/ SINGLITAM BUSTY,Gyalshing,...,(I.E.C) INDIAN EVANGALISTIC CRUSADE MISSION PR...,Not Available,0,Available,1,Available,Not Available,0,Not Available,Not Available
1,54,East,S0516,10TH MILE GOVERNMENT PRIMARY SCHOOL,Gangtok Brc,Enchey Government Senior Secondary School,PS,State Govt.,10TH MILE KARPONANG,Gangtok,...,10TH MILE GOVERNMENT PRIMARY SCHOOL,Not Available,0,Not Available,0,Available,Available,1,Not Available,Not Available
2,816,South,S0692,AAPGAZI GOVERNMENT PRIMARY SCHOOL,Temi Brc,Namphing Government Junior High School,PS,State Govt.,AAPGAZI,Namchi,...,AAPGAZI GOVERNMENT PRIMARY SCHOOL,Not Available,0,Not Available,0,Not Available,Not Available,0,Not Available,Not Available
3,1102,West,S0374,AARUBOTEY GOVERNMENT PRIMARY SCHOOL,Soreng Brc,Chumbong Government Secondary School,PS,State Govt.,AARUBOTEY,Soreng,...,AARUBOTEY GOVERNMENT PRIMARY SCHOOL,Not Available,0,Available,2,Not Available,Not Available,0,Not Available,Not Available
4,209,East,S0108,AHO-YANGTAM GOVERNMENT PRIMARY SCHOOL,Pakyong Brc,Aho-Shanti Government Secondary School,PS,State Govt.,AHO-YANGTAM,Pakyong,...,AHO-YANGTAM GOVERNMENT PRIMARY SCHOOL,Not Available,0,Available,2,Available,Available,1,Not Available,Not Available
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
420,141,East,S1157,"WRENS PUBLIC SCHOOL, ARITHANG",Gangtok Brc,Tashi Namgyal Government Senior Secondary School,PS,Private (Unaided),"ARITHANG, GANGTOK",Gangtok,...,"WRENS PUBLIC SCHOOL, ARITHANG",Not Available,0,Available,1,Not Available,Available,1,Not Available,Not Available
421,66,East,S0207,YALLI GOVERNMENT PRIMARY SCHOOL,Gangtok Brc,Enchey Government Senior Secondary School,PS,State Govt.,YALLI,Gangtok,...,YALLI GOVERNMENT PRIMARY SCHOOL,Not Available,0,Available,2,Available,Available,1,Not Available,Not Available
422,1031,West,S0288,YANGTEY GOVERNMENT PRIMARY SCHOOL,Gyalshing Brc,Gyalshing senior secondary school,PS,State Govt.,YANGTEY,Gyalshing,...,YANGTEY GOVERNMENT PRIMARY SCHOOL,Not Available,0,Available,2,Not Available,Not Available,0,Not Available,Not Available
423,516,North,S0990,ZENITH PUBLIC SCHOOL,Mangan Brc,Singhik Government Secondary School,PS,Private (Unaided),None,Mangan,...,ZENITH PUBLIC SCHOOL,Not Available,0,Not Available,0,Not Available,Not Available,0,Not Available,Not Available
424,206,East,S0138,ZINGLA GOVERNMENT PRIMARY SCHOOL,Martam Brc,Sang Government Senior Secondary School,PS,State Govt.,ZINGLA BUSTY,Gangtok,...,ZINGLA GOVERNMENT PRIMARY SCHOOL,Not Available,0,Available,2,Not Available,Not Available,0,Not Available,Not Available